@import-normalize;
@import "helper";

*{
  margin: 0;
  padding: 0;
}

*{
  box-sizing: border-box;
}

*::before{
  box-sizing: border-box;
}

*::after {
  box-sizing: border-box;
}
ul,ol {
  list-style: none;
  //列表样式无 -小圆点
}
a {
  text-decoration: none;
  //下划线无
  color: inherit;
}
:focus{
  outline: none;
}
body {
  font-family: $font-hei;
  font-size: 16px;
  line-height: 1.2;
  background: #feffff ;

  max-width: 100vh;
  color: #333;

}

.iconNav {
  width: 1em;
  height: 1em;
}

button input{
  font: inherit;
  
}

.clearfix::after{
  content: '';
  display: block;
  clear: both;

}